<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n  %F line: %L %n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>

	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.base}/logs/siat_ct.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>siat.%d{yyyy-MM-dd}.log</FileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n  %F line: %L %n</Pattern>
		</encoder>
	</appender>
	<appender name="hibernateDailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.base}/logs/siat_ct_hibernate.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>siat.%d{yyyy-MM-dd}.log</FileNamePattern>

			<!-- keep 1 days' worth of history -->
			<maxHistory>1</maxHistory>
		</rollingPolicy>
		<!-- <filter class="org.guce.siat.web.common.util.LogbackFilter" /> -->
		<encoder>
			<Pattern>%-4date | %msg %n</Pattern>
		</encoder>
	</appender>
	<logger name="org.guce.siat" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="dailyRollingFileAppender" />
		<!-- appender-ref ref="consoleAppender" /-->
	</logger>
	<logger name="org.hibernate.SQL" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="hibernateDailyRollingFileAppender" />
	</logger>
	<!--logger name="org.hibernate.id" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="hibernateDailyRollingFileAppender" />
	</logger>
	<logger name="org.hibernate.type" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="hibernateDailyRollingFileAppender" />
	</logger>
	<logger name="org.hibernate.cache" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="hibernateDailyRollingFileAppender" />
		<appender-ref ref="consoleAppender" />
	</logger-->
	<logger name="com.jolbox.bonecp" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="hibernateDailyRollingFileAppender" />
		<!-- appender-ref ref="consoleAppender" /-->
	</logger>
	
	<logger name="org.springframework.jms.listener" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="dailyRollingFileAppender" />
		<!-- appender-ref ref="consoleAppender" /-->
	</logger>
	
	<root>
		<level value="ERROR" />
		<!--appender-ref ref="consoleAppender" /-->
		<appender-ref ref="dailyRollingFileAppender" />
		<appender-ref ref="hibernateDailyRollingFileAppender" />
	</root>
</configuration>